# Forge 1.20.1 access transformers use SRG names; the official name is given after each entry.
public-f net.minecraft.world.inventory.Slot f_40220_ # x
public-f net.minecraft.world.inventory.Slot f_40221_ # y
public-f net.minecraft.world.level.block.entity.BlockEntity f_58858_ # worldPosition
public net.minecraft.world.level.block.entity.BeaconBlockEntity f_58650_ # levels
public net.minecraft.world.level.block.entity.BeaconBlockEntity f_58652_ # primaryPower
public net.minecraft.world.level.block.entity.BeaconBlockEntity f_58653_ # secondaryPower
public net.minecraft.world.level.block.entity.BrewingStandBlockEntity f_58976_ # brewTime
public net.minecraft.world.level.block.entity.AbstractFurnaceBlockEntity f_58316_ # litTime
public net.minecraft.world.level.block.entity.AbstractFurnaceBlockEntity f_58318_ # cookingProgress
public net.minecraft.world.level.block.entity.AbstractFurnaceBlockEntity f_58317_ # litDuration
public net.minecraft.world.level.block.entity.AbstractFurnaceBlockEntity f_58319_ # cookingTotalTime
public net.minecraft.client.renderer.RenderStateShard f_110114_ # COLOR_DEPTH_WRITE
public net.minecraft.client.renderer.RenderStateShard f_110115_ # COLOR_WRITE
public net.minecraft.client.renderer.RenderStateShard f_110158_ # CULL
public net.minecraft.client.renderer.RenderStateShard f_110113_ # LEQUAL_DEPTH_TEST
public net.minecraft.client.renderer.RenderStateShard f_110152_ # LIGHTMAP
public net.minecraft.client.renderer.RenderStateShard f_110110_ # NO_CULL
public net.minecraft.client.renderer.RenderStateShard f_110111_ # NO_DEPTH_TEST
public net.minecraft.client.renderer.RenderStateShard f_110147_ # NO_TEXTURE
public net.minecraft.client.renderer.RenderStateShard f_110134_ # NO_TRANSPARENCY
public net.minecraft.client.renderer.RenderStateShard f_110154_ # OVERLAY
public net.minecraft.client.renderer.RenderStateShard f_110118_ # POLYGON_OFFSET_LAYERING
public net.minecraft.client.renderer.RenderStateShard f_173104_ # POSITION_COLOR_SHADER
public net.minecraft.client.renderer.RenderStateShard f_173103_ # POSITION_COLOR_TEX_LIGHTMAP_SHADER
public net.minecraft.client.renderer.RenderStateShard f_173102_ # POSITION_TEX_SHADER
public net.minecraft.client.renderer.RenderStateShard f_173066_ # RENDERTYPE_ENTITY_TRANSLUCENT_SHADER
public net.minecraft.client.renderer.RenderStateShard f_268568_ # RENDERTYPE_TEXT_BACKGROUND_SHADER
public net.minecraft.client.renderer.RenderStateShard f_173108_ # RENDERTYPE_TRANSLUCENT_SHADER
public net.minecraft.client.renderer.RenderStateShard f_110139_ # TRANSLUCENT_TRANSPARENCY
